---
---

@import "{{ site.theme }}";

.navbar {
    display: flex;
    
}

.navbar-list {
    display: flex;
    flex-direction: row;
}

.navbar-list li {
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.navbar-list li.active a {
    color: yellow;
    font-weight: bold;
}